@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2023, 7, 22);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p class="lead">The best pizza in town for @Convert.ToInt32(timeInBusiness.TotalDays) days!</p>
</div>
